.logo-mario {
    height: 100px;
}

button{
    color: white;
    background-color: red;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;

}

p{
    width: 570px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

.logo-mario-luigi{
    height: 300px;
}

body{
    height: 100vh;
}

.conteiner{
    width: 50px;
}

.caixa-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}


video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.caixa-mae{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 100px;
    justify-content: space-between;

}